<div class=<% background_picker %> >
	<div class='container'>
		<div class='row'>
			<div class='col-sm-3 text-center'>
				<div id='sidebar' class='card'>
					<%= render 'users/profile/sidebar' %>
				</div>
			</div>
			<div class='col-sm-9'>
				<div id='mainpage'>
					<%= render 'users/profile/mainpage' %>
				</div>
			</div>
		</div>
	</div>
</div>