<div class='container'>
	<div class='row text-center'>
    <div class='col-sm-offset-4 col-sm-4 col-sm-offset-4'>
	<div class='text-center card'>
		<h3><strong>~~ Ƨ&#600;∀&#1508;∩&#8515;˥ ~~</strong></h3>
		<%= image_tag('bonus') %>
		<h3><strong>~~  ~~  ~~</strong></h3>
		<%= link_to root_path, class: 'btn btn-dark' do %>
			<%= fa_icon "home", text: "Home" %>
		<% end %>
	</div>
	</div>
	</div>
</div>
